body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#category-filter {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    cursor: pointer;
}

#articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

article {
    width: calc(33.33% - 20px);
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article img {
    width: 100%;
    border-radius: 5px;
}

article h3 {
    margin-top: 10px;
    font-size: 18px;
}

article p {
    font-size: 14px;
    color: #555;
}

article a {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 97,5%;
}

footer p {
    margin: 5px 0;
}

footer a {
    text-decoration: none;
    color: #007BFF;
}

footer a:hover {
    text-decoration: underline;
}
