body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    background:#e6e5e5;
}

header {
    background: gray;
    padding: 20px;
    text-align: start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 97.9%;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: start;
    justify-content: start;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.2em;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
    color: #fff;
}

#category-filter {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    cursor: pointer;
    background: #fff;
    transition: all 0.3s;
}

#category-filter:hover {
    border-color: #007BFF;
}

#articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.article {
    width: calc(33.33% - 20px);
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.article h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.article p {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.article a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.article a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 97.9%;
    margin-top: 20px;
    color: white;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    article {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 2em;
    }

    nav ul li {
        margin: 0 10px;
    }

    #articles-container {
        padding: 0 10px;
    }

    article {
        width: calc(100% - 20px);
    }
}
