body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image:url(/image/SunsetBooks.jpeg);
    background-size: cover;
}

header {
    background: gray;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pler h1 {
    font-size: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
} 
.pler h2 {
    font-size: 1.5em;
    margin-top: 20px;
}
.pler p {
    text-align: justify;
}
.infobox {
    float: right;
    margin: 0 0 20px 20px;
    width: 250px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 0.9em;
}
.infobox img {
    width: 100%;
    height: auto;
}
.infobox-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.infobox-content {
    margin-bottom: 10px;
}
.infobox-content b {
    display: inline-block;
    width: 100px;
}
.references {
    font-size: 0.9em;
}
.reference {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 97.9%;
    color: white;
}

footer p {
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}